#main-container
	width: 960px
	margin: 150px auto

	a
		color: lighten($accent-color, 50%)

		&:hover
			text-decoration: underline

header
	+clearfix
	margin-bottom: 75px

	#left-header
		float: left
		+clearfix

		#logo
			width: 50px
			margin-right: 20px
			vertical-align: middle

	.description
		display: inline-block
		vertical-align: middle

		p
			padding: 0
			margin: 0

	#right-header
		float: right
		+clearfix

		.user
			display: inline-block
			vertical-align: middle

		a
			display: inline-block
			vertical-align: middle

		.profile-pic
			width: 30px
			height: auto
			margin: 0 0 0 15px
			display: inline-block
			border-radius: 100%
			vertical-align: middle

nav
	width: 100%
	position: relative
	margin-bottom: 25px
	height: 30px
	display: inline-block
	vertical-align: middle

	i
		font-size: 20px

	#search
		+position(absolute, 0 null null 0)
		display: inline-block
		vertical-align: middle

	#filter
		+position(absolute, 0 0 null null)
		display: inline-block
		vertical-align: middle

		a
			display: inline-block
			padding: 3px 10px
			border-radius: 2px

			&:hover
				text-decoration: none

		.active
			background: lighten($accent-color, 90%)


.post
	text-align: center

	p
		margin-top: 10px






		
		




