#main-container
	width: 960px
	margin: 150px auto

	a
		color: lighten($accent-color, 50%)

		&:hover
			text-decoration: underline

header
	+clearfix
	margin-bottom: 75px

	#left-header
		float: left
		+clearfix

		#logo
			width: 50px
			margin-right: 20px
			vertical-align: middle

	.description
		display: inline-block
		vertical-align: middle

		p
			padding: 0
			margin: 0

	#right-header
		float: right
		+clearfix

		.user
			display: inline-block
			vertical-align: middle

		a
			display: inline-block
			vertical-align: middle

		.profile-pic
			width: 30px
			height: auto
			margin: 0 0 0 15px
			display: inline-block
			border-radius: 100%
			vertical-align: middle

nav
	display: inline-block
	width: 100%
	position: relative
	margin-bottom: 15px

	i
		font-size: 24px

	#search
		position: absolute
		left: 0
		top: 0

	#view
		text-align: center

	#filter
		position: absolute
		right: 0
		top: 3px

		a
			display: inline-block
			background: lighten($accent-color, 90%)
			padding: 5px 10px
			border-radius: 5px

			&:hover
				text-decoration: none

		.active
			background: $accent-color
			color: white


.post
	text-align: center

	p
		margin-top: 10px






		
		




